node_modules/
.dev.vars
.wrangler/
dist/
*.code-workspace
*.log
*.env
*.local
*.pem
*.key
*.crt
*.p12
*.jks
*.bak
*.tmp
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*.swn